
*.db
.vs/DesignPatternsProject/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/.vs/DesignPatternsShow/v15/ipch/f6cba3ae8959a27e.ipch
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.command.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.read.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.write.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/unsuccessfulbuild
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.log
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.obj
DesignPatternsShow/DesignPatternsShow/Debug/vc141.idb
DesignPatternsShow/DesignPatternsShow/Debug/vc141.pdb
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/CL.command.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/CL.read.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/CL.write.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/DesignPatternsShow.lastbuildstate
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/link.command.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/link.read.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/link.write.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPatternsShow.log
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPatternsShow.obj
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPatternsShow.pch
DesignPatternsShow/DesignPatternsShow/x64/Debug/pch.obj
DesignPatternsShow/DesignPatternsShow/x64/Debug/vc141.idb
DesignPatternsShow/DesignPatternsShow/x64/Debug/vc141.pdb
DesignPatternsShow/x64/Debug/DesignPatternsShow.pdb
DesignPatternsShow/x64/Debug/DesignPatternsShow.ilk
DesignPatternsShow/x64/Debug/DesignPatternsShow.exe
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/Debug/vc141.pdb
DesignPatternsShow/DesignPatternsShow/Debug/vc141.idb
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.obj
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.log
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.write.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.read.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.command.1.tlog
DesignPatternsShow/Debug/DesignPatternsShow.exe
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/DesignPatternsShow/packages.config
DesignPatternsShow/packages/pthreads.2.9.1.4/.signature.p7s
DesignPatternsShow/packages/pthreads.2.9.1.4/build/configurations.autopkg
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/default-propertiesui.xml
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/ChangeLog
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/index.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/PortabilityIssues.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_attr_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_attr_setstackaddr.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_attr_setstacksize.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_barrier_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_barrier_wait.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_barrierattr_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_barrierattr_setpshared.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_cancel.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_cleanup_push.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_cond_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_condattr_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_condattr_setpshared.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_create.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_delay_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_detach.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_equal.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_exit.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_getunique_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_getw32threadhandle_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_join.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_key_create.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_kill.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_mutex_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_mutexattr_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_mutexattr_setpshared.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_num_processors_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_once.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlock_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlock_rdlock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlock_timedrdlock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlock_timedwrlock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlock_unlock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlock_wrlock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlockattr_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_rwlockattr_setpshared.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_self.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_setcancelstate.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_setcanceltype.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_setconcurrency.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_setschedparam.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_spin_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_spin_lock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_spin_unlock.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_timechange_handler_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_win32_attach_detach_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthread_win32_test_features_np.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/pthreadCancelableWait.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/sched_get_priority_max.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/sched_getscheduler.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/sched_setscheduler.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/sched_yield.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/docs/sem_init.html
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/include/need_errno.h
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/include/pthread.h
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/include/sched.h
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/include/semaphore.h
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Debug/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Debug/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Debug/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Debug/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Release/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Release/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Release/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/Win32/Release/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Debug/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Debug/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Debug/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Debug/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Release/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Release/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Release/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v100/x64/Release/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Debug/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Debug/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Debug/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Debug/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Release/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Release/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Release/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/Win32/Release/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Debug/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Debug/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Debug/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Debug/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Release/dynamic/cdecl/libpthread.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Release/dynamic/stdcall/libpthread-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Release/static/cdecl/libpthread-static.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/lib/v110/x64/Release/static/stdcall/libpthread-static-stdcall.lib
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/pthreads-propertiesui-066c15f0-790b-4ca8-80a9-e161cb68bc9c.xml
DesignPatternsShow/packages/pthreads.2.9.1.4/build/native/pthreads.targets
DesignPatternsShow/packages/pthreads.2.9.1.4/pthreads.2.9.1.4.nupkg
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/.signature.p7s
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/configurations.autopkg
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/Win32/Debug/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/Win32/Debug/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/Win32/Release/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/Win32/Release/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/x64/Debug/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/x64/Debug/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/x64/Release/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v100/x64/Release/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/Win32/Debug/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/Win32/Debug/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/Win32/Release/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/Win32/Release/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/x64/Debug/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/x64/Debug/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/x64/Release/dynamic/cdecl/libpthread.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/bin/v110/x64/Release/dynamic/stdcall/libpthread-stdcall.dll
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/default-propertiesui.xml
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/build/native/pthreads.redist.targets
DesignPatternsShow/packages/pthreads.redist.2.9.1.4/pthreads.redist.2.9.1.4.nupkg
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
