
*.db
.vs/DesignPatternsProject/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/.suo
DesignPatternsShow/.vs/DesignPatternsShow/v15/Browse.VC.db
DesignPatternsShow/.vs/DesignPatternsShow/v15/ipch/f6cba3ae8959a27e.ipch
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.command.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.read.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.write.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/unsuccessfulbuild
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.log
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.obj
DesignPatternsShow/DesignPatternsShow/Debug/vc141.idb
DesignPatternsShow/DesignPatternsShow/Debug/vc141.pdb
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/CL.command.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/CL.read.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/CL.write.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/DesignPatternsShow.lastbuildstate
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/link.command.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/link.read.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPa.0314454C.tlog/link.write.1.tlog
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPatternsShow.log
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPatternsShow.obj
DesignPatternsShow/DesignPatternsShow/x64/Debug/DesignPatternsShow.pch
DesignPatternsShow/DesignPatternsShow/x64/Debug/pch.obj
DesignPatternsShow/DesignPatternsShow/x64/Debug/vc141.idb
DesignPatternsShow/DesignPatternsShow/x64/Debug/vc141.pdb
DesignPatternsShow/x64/Debug/DesignPatternsShow.pdb
DesignPatternsShow/x64/Debug/DesignPatternsShow.ilk
DesignPatternsShow/x64/Debug/DesignPatternsShow.exe
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj.filters
DesignPatternsShow/DesignPatternsShow/DesignPatternsShow.vcxproj
DesignPatternsShow/DesignPatternsShow/Debug/vc141.pdb
DesignPatternsShow/DesignPatternsShow/Debug/vc141.idb
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.obj
DesignPatternsShow/DesignPatternsShow/Debug/DesignPatternsShow.log
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.write.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.read.1.tlog
DesignPatternsShow/DesignPatternsShow/Debug/DesignPa.0314454C.tlog/CL.command.1.tlog
DesignPatternsShow/Debug/DesignPatternsShow.exe
